Options -Indexes

<Files "config.php">
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "(^\.|config\.php|\.env|\.sql$|\.volturascreen$)">
    Order allow,deny
    Deny from all
</FilesMatch>
